@import url(./reset.css);
@import "./variables.scss";


// Often used Styles

.main-font{
    font-size: 16px;
    font-family: $main_font;
    font-weight: 400;
}

// Styles

.main-container{
    width: 100%;
    max-width: 1920px;
    padding: 0 120px;
}
.header{
    padding: 30px 0;
    a{
        text-decoration: none;
    }
    .right-header-box{
        gap: 40px;
    }
    .header_title{
        font-size: 31px;
        font-family: $header_fontFamily;
        color: $main_color;
        font-weight: 600;
    }
    .create-new-worker{
        padding: 10px 20px;
        outline: 1px $main_color solid;
        border-radius: 5px;
        @include color-backcolor(black, white);
        transition: outline 0.2s ease;
        &:hover{
            outline: 1px $hover_color solid;
        }
    }
    .create-new-homework{
        padding: 10px 20px;
        border-radius: 5px;
        @include color-backcolor(white, $main_color);
        transition: background-color 0.2s ease;
        .add_icon{
            width: 18px;
            height: 18px;
        }
        &:hover{
            background-color: $hover_color;
        }
    }
}
.assignment-section{
    .assignment_title{
        font-size: 34px;
        font-weight: 600;
        margin-top: 40px;
        letter-spacing: 0%;
    }
    .filter-seciton{
        border: 1px $filter_color solid;
        border-radius: 10px;
        gap: 45px;
        margin-top: 50px;
        .department, .priority, .employee{
            width: 199px;
            height: 44px;
            cursor: pointer;
        }
        .filter_name{
            font-family: $main_font;
            font-size: 16px;
        }
        .filter_icon{
            width: 24px;
            aspect-ratio: 1/1;
        }
    }
    [class^="filter-hidden"]{
        border: 1px $filter_color solid;
        border-radius: 10px;
        top: 100%;
        padding: 40px 30px 20px 30px;
        display: none;
        .custom-checkbox {
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: 16px;
        }
        
        .custom-checkbox input {
            display: none;
        }
        
        .custom-checkbox .checkmark {
            width: 22px;
            aspect-ratio: 1/1;
            border: 2px solid $main_color;
            border-radius: 5px;
            display: inline-block;
            position: relative;
            margin-right: 8px;
        }
        .custom-checkbox input:checked + .checkmark::after {
            content: '';
            background-image: url(../assets/icons/Vector.png);
            position: absolute;
            width: 20px;
            height: 19px;
            background-repeat: no-repeat;
            background-position: center;
            color: $main_color;
        }
        
    }
}