@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@font-face {
  font-family: "FiraGo-400";
  src: url(../fonts/FiraGO-Regular.ttf);
}
@font-face {
  font-family: "FiraGo-500";
  src: url(../fonts/FiraGO-Medium.ttf);
}
.main-font {
  font-size: 16px;
  font-family: "FiraGo-400", sans-serif;
  font-weight: 400;
}

.main-container {
  width: 100%;
  max-width: 1920px;
  padding: 0 120px;
}

.header {
  padding: 30px 0;
}
.header a {
  text-decoration: none;
}
.header .right-header-box {
  gap: 40px;
}
.header .header_title {
  font-size: 31px;
  font-family: "Fredoka", sans-serif;
  color: #8338EC;
  font-weight: 600;
}
.header .create-new-worker {
  padding: 10px 20px;
  outline: 1px #8338EC solid;
  border-radius: 5px;
  color: black;
  background-color: white;
  transition: outline 0.2s ease;
}
.header .create-new-worker:hover {
  outline: 1px #B588F4 solid;
}
.header .create-new-homework {
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  background-color: #8338EC;
  transition: background-color 0.2s ease;
}
.header .create-new-homework .add_icon {
  width: 18px;
  height: 18px;
}
.header .create-new-homework:hover {
  background-color: #B588F4;
}

.assignment-section .assignment_title {
  font-size: 34px;
  font-weight: 600;
  margin-top: 40px;
  letter-spacing: 0%;
}
.assignment-section .filter-seciton {
  border: 1px #DEE2E6 solid;
  border-radius: 10px;
  gap: 45px;
  margin-top: 50px;
}
.assignment-section .filter-seciton .filter_active {
  color: #8338EC;
}
.assignment-section .filter-seciton .department, .assignment-section .filter-seciton .priority, .assignment-section .filter-seciton .employee {
  width: 199px;
  height: 44px;
  cursor: pointer;
}
.assignment-section .filter-seciton [class^=filter_name] {
  font-family: "FiraGo-400", sans-serif;
  font-size: 16px;
}
.assignment-section .filter-seciton .filter_icon {
  width: 24px;
  aspect-ratio: 1/1;
}
.assignment-section [class^=filter-hidden] {
  border: 1px #DEE2E6 solid;
  border-radius: 10px;
  top: 100%;
  padding: 40px 30px 20px 30px;
  display: none;
  background-color: white;
}
.assignment-section [class^=filter-hidden] .selecting_button1, .assignment-section [class^=filter-hidden] .selecting_button2, .assignment-section [class^=filter-hidden] .selecting_button3 {
  padding: 8px 20px;
  background-color: #8338EC;
  color: white;
  font-family: "FiraGo-400", sans-serif;
  font-size: 16px;
  border-radius: 20px;
}
.assignment-section [class^=filter-hidden] .selecting_button1:hover, .assignment-section [class^=filter-hidden] .selecting_button2:hover, .assignment-section [class^=filter-hidden] .selecting_button3:hover {
  background-color: #B588F4;
}
.assignment-section [class^=filter-hidden] .custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
}
.assignment-section [class^=filter-hidden] .custom-checkbox input {
  display: none;
}
.assignment-section [class^=filter-hidden] .custom-checkbox .checkmark {
  width: 22px;
  aspect-ratio: 1/1;
  border: 2px solid #8338EC;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  margin-right: 8px;
}
.assignment-section [class^=filter-hidden] .custom-checkbox input:checked + .checkmark::after {
  content: "";
  background-image: url(../assets/icons/Vector.png);
  position: absolute;
  width: 20px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  color: #8338EC;
}

.starting-cards-section {
  margin-top: 70px;
}
.starting-cards-section .cards_header1, .starting-cards-section .cards_header2, .starting-cards-section .cards_header3, .starting-cards-section .cards_header4 {
  padding: 15px 0;
  border-radius: 10px;
}
.starting-cards-section .cards_header1 h5, .starting-cards-section .cards_header2 h5, .starting-cards-section .cards_header3 h5, .starting-cards-section .cards_header4 h5 {
  font-family: "FiraGo-400", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.starting-cards-section .cards_header1 {
  background-color: #F7BC30;
}
.starting-cards-section .cards_header2 {
  background-color: #FB5607;
}
.starting-cards-section .cards_header3 {
  background-color: #FF006E;
}
.starting-cards-section .cards_header4 {
  background-color: #3A86FF;
}
.starting-cards-section > .row > .col-3 > .row {
  padding: 0 11px;
}
.starting-cards-section .border-yel {
  border: 1px #F7BC30 solid;
}
.starting-cards-section .border-ora {
  border: 1px #FB5607 solid;
}
.starting-cards-section .border-pink {
  border: 1px #FF006E solid;
}
.starting-cards-section .border-blue {
  border: 1px #3A86FF solid;
}
.starting-cards-section .tasks-column .task-card {
  margin-top: 30px;
  border-radius: 15px;
  padding: 20px;
}
.starting-cards-section .tasks-column .task-card .date_text {
  font-size: 12px !important;
}
.starting-cards-section .tasks-column .task-card .priority-design {
  gap: 10px;
}
.starting-cards-section .tasks-column .task-card .priority-design .priority_high {
  border: 0.5px #FA4D4D solid;
  border-radius: 5px;
  padding: 4px;
}
.starting-cards-section .tasks-column .task-card .priority-design .priority_high img {
  width: 16px;
  height: 18px;
}
.starting-cards-section .tasks-column .task-card .priority-design .priority_high h5 {
  font-family: "FiraGo-400", sans-serif;
  color: #FA4D4D;
  font-size: 12px;
}
.starting-cards-section .tasks-column .task-card .priority-design .priority_med {
  border: 0.5px #FFBE0B solid;
  border-radius: 5px;
  padding: 4px;
}
.starting-cards-section .tasks-column .task-card .priority-design .priority_med img {
  width: 16px;
  height: 18px;
}
.starting-cards-section .tasks-column .task-card .priority-design .priority_med h5 {
  font-family: "FiraGo-400", sans-serif;
  color: #FFBE0B;
  font-size: 12px;
}
.starting-cards-section .tasks-column .task-card .priority-design .priority_low {
  border: 0.5px #08A508 solid;
  border-radius: 5px;
  padding: 4px;
}
.starting-cards-section .tasks-column .task-card .priority-design .priority_low img {
  width: 16px;
  height: 18px;
}
.starting-cards-section .tasks-column .task-card .priority-design .priority_low h5 {
  font-family: "FiraGo-400", sans-serif;
  color: #08A508;
  font-size: 12px;
}
.starting-cards-section .tasks-column .task-card .priority-design .design {
  background-color: #FF66A8;
  padding: 7px 14px;
  border-radius: 15px;
}
.starting-cards-section .tasks-column .task-card .priority-design .design h5 {
  font-size: 12px !important;
}
.starting-cards-section .tasks-column .task-card .redberry-header {
  margin-top: 28px;
  padding: 0 10px;
}
.starting-cards-section .tasks-column .task-card .redberry-header h1 {
  font-family: "FiraGo-500", sans-serif;
  font-size: 15px;
}
.starting-cards-section .tasks-column .task-card .redberry-text {
  margin-top: 12px;
  padding: 0 10px;
}
.starting-cards-section .tasks-column .task-card .redberry-text p {
  font-family: "FiraGo-400", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.starting-cards-section .tasks-column .task-card .photo-comment-box {
  margin-top: 28px;
}
.starting-cards-section .tasks-column .task-card .photo-comment-box .photo_element {
  width: 31px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  border-radius: 50%;
}/*# sourceMappingURL=styles.css.map */