@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

@mixin color-backcolor($font-color, $backcolor){
    color: $font-color;
    background-color: $backcolor;
}

@font-face {
    font-family: "FiraGo-400";
    src: url(../fonts/FiraGO-Regular.otf);
}

$header_fontFamily: "Fredoka", sans-serif;
$main_color: #8338EC;
$main_font: 'FiraGo-400', sans-serif;

$hover_color: #B588F4;
$filter_color: #DEE2E6;


